*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    padding-top: 5rem;
    margin: 0 auto;
    width: 600px;
}

.wrapper-title{
    display: flex;
    justify-content: center;
}

.nodes-list{
    list-style: none;
}

.li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: .5rem;
}

.input{
    margin-right: 1rem;
}

.btn{
    background-color: #ccc;
    border-radius: 30%;
    border: none;
    color: #fff;
    padding: 3px 10px;
}

.done{
    text-decoration: line-through;
}
